# temp and compilation files
**.d
**.X
**.o
**.o-*
**.o.*
**.X.dSYM/
**.swp
log*
.ipynb_*/
.ipynb*/
**/.idea/
**/.vscode/
build**/
**.d
**.btr
Treedump*
**.tar.gz
**.tar.bz2

# postprocessing files
**.mtx
**.png
**.log
**.mp4
**.pvsm
**.csv
**temp**.txt
**record**.txt
**TimeStepInfo**.txt

# other files
doc/
**.pdf

# data files
**.xyz
**.**vtp
**.**vtu
**.**vtk
**.**vtr
**.**vd

