# temp and compilation files
**.d
**.X
**.o
**.o-*
**.o.*
**.X.dSYM/
**.swp
log*
.ipynb_*/
.ipynb*/
**/.idea/
**/.vscode/
*build*/
**.d
**.btr
Treedump*
**.tar.gz
**.tar.bz2


# postprocessing files
**.mtx
**.png
!docs/source/images/*.png
**.log
**.mp4
# **.pvsm
**.csv
**temp**.txt
**record**.txt
**TimeStepInfo**.txt

# Personal cmake scripts
cmake-release.sh
cmake-debug.sh

# other files
**core.*
doc/
**.pdf

# data files
**.xyz
**.**vtp
**.**vtu
**.**vtk
**.**vtr
**.**vd

